{% extends "base.html" %}
{%block title %} College {% endblock %}
{%block collegeLink%} nav-link active {% endblock %}

{%set tableid = "collegeTable"%}
{%set urlRedirect = "college.delete"%}
{%set deleteWarningMsg = "Confirm deletion of College? WARNING: ALL DATA RELATED TO THE COLLEGE WILL BE DELETED PROCEED WITH CAUTION"%}

{%block content%}
{%include "search.html"%}

<br>
    <div class = "container d-flex justify-content-center">
        <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#addCollege"> ADD COLLEGE </button>
    </div>
<br>

{%include "table.html"%}

<!----edit Modal---->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editCollegeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT COLLEGE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action ="{{url_for('college.update')}}" method = "POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <br>
                <div>
                    <label for = "cCode" class = "form-label"> Course Code </label>
                    <input name = "college_code_edit" id = "collegeCode" type="text" class="form-control" placeholder="Ex. BSCS" aria-label="Course Code" maxlength ="10" style = "background-color:  #E9ECEF; color = 6C757D" readonly>
                </div>
                <br>
                <div>
                    <label for = "course" class = "form-label"> Course </label>
                    <input name = "name_edit" id = "name" type="text" class="form-control" placeholder="Ex. Bachelor of Science in Computer Science" aria-label="Course" maxlength ="80" required>
                </div>
                <br>
                <br>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success">Save changes</button>
                </div>
    
            </form>
        </div>
      </div>
    </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $('button[data-bs-toggle="modal"]').click(function() {
        console.log("Edit button clicked.");
        let row = $(this).closest('tr');
        let college_code = row.find('td:eq(0)').text();
        let name = row.find('td:eq(1)').text();
        console.log(name)
        $('#collegeCode').val(college_code);
        $('#name').val(name);
    });
  </script>
<!----add Modal---->

<div class="modal fade" id="addCollege" tabindex="-1" aria-labelledby="addCollegeLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">ADD COLLEGE</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action ="{{url_for('college.insert')}}" method = "POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <br>
            <div>
                <label for = "cCode" class = "form-label"> College Code </label>
                <input name = "college_code" id = "cCode" type="text" class="form-control" placeholder="Ex. CCS" aria-label="Course Code" maxlength ="10" required>
            </div>
            <br>
            <div>
                <label for = "name" class = "form-label"> Name </label>
                <input name = "name" id = "name" type="text" class="form-control" placeholder="Ex. College of Computer Science" aria-label="Course" maxlength ="80" required>
            </div>
            <br>
            <br>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
    </div>
  </div>
</div>
</div>
{%endblock%}