{% extends "base.html" %}
{%block title %} Students {% endblock %}
{%block studentLink%} nav-link active {% endblock %}

{%set tableid = "studentTable"%}
{%set urlRedirect = "student.delete"%}
{%set deleteWarningMsg = "Confirm deletion of student?"%}

{%block pageHeader%} Student List {%endblock%}

{%block top%}
    {%include "search.html"%}
    <div class = "col mx-auto">
        <button type="button" class="btn btn-outline-success "style = "float:right" data-bs-toggle="modal" data-bs-target="#addStudent"> ADD NEW STUDENT </button>
    </div>
{%endblock%}

{%block content%}

<div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
    <table class="table table-condensed text-center" id = "{{tableid}}">
      <thead class = "sticky-top z-3">
          <tr>
            {%for column in data[0]%} <th scope="col">{%if column == 'student_pic'%}{%else%}{{column.replace("_", " ").upper()}}{%endif%}</th> {% endfor %}
            <th scope = "col"> ACTIONS </th>
          </tr>
      </thead>
      <tbody>
        {% for entry in data %}
        <tr>
            <td><img class = "img rounded-pill shadow-sm" src= {%if entry.student_pic is none%}'{{url_for('static', filename='img/default_profilepic.png')}}'{%else%}'{{entry.student_pic}}'{%endif%} style = "height:60px; width:60px;"/></td>
            <td>{{entry.student_id}}</td>
            <td>{{entry.first_name}}</td>
            <td>{{entry.last_name}}</td>
            <td>{{entry.course_code}}</td>
            <td>{{entry.year_level}}</td>
            <td>{{entry.gender}}</td>
            <td>{{entry.college_code}}</td>
          <td>
            <form action ="{{url_for(urlRedirect, id = entry.student_id)}}" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <button type="button" id ="editButton" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                <button type ="submit" class = "btn btn-danger btn-sm" onclick = "return confirm('{{deleteWarningMsg}}')">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

<!----edit Modal---->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="editModalLabel">EDIT STUDENT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action ="{{url_for('student.update')}}" method="POST">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            <br>
                            <div class="row">
                                <label for = "idEditOne"  class = "form-label"> Student ID </label>
                                <div class="col-3">
                                    <input type="hidden" name="initIdEditOne" id = "initIdEditOne" readonly>
                                    <input name = "idOne_edit" id = "idEditOne"  type="text" inputmode = "numeric" class="form-control" placeholder="Ex. 1234" pattern = "\d*" maxlength = "4"  minlength = "4"  required>
                                </div>
                                <div class="col-1 text-center">
                                    <h3>-<h3>
                                </div>
                                <div class="col-3">
                                    <input type="hidden" name="initIdEditTwo"  id = "initIdEditTwo" readonly>
                                    <input name = "idTwo_edit" id = "idEditTwo" type="text" inputmode = "numeric" class="form-control" placeholder="Ex. 1234" pattern = "\d*" maxlength = "4" minlength = "4" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for = "fNameEdit" class = "form-label"> First Name </label>
                                    <input name = "first_name_edit" id = "fNameEdit" type="text" class="form-control" placeholder="First name" aria-label="First name" maxlength ="40" required>
                                </div>
                                <div class="col">
                                    <label for = "lNameEdit" class = "form-label"> Last Name </label>
                                    <input name = "last_name_edit" id = "lNameEdit" type="text" class="form-control" placeholder="Last name" aria-label="Last name" maxlength ="40" required>
                                </div>
                            </div>
                            <br>
                            <div class = row>
                                <div class ="col">
                                    <label for = "cCodeEdit" class = "form-label"> Course Code </label>
                                    <select name = "course_code_edit" id ="cCodeEdit" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                        {%for item in courses%}
                                            <option value="{{item.values()|list|first}}">{{ item.values()|list|first }}</option>
                                        {%endfor%}
                                    </select>
                                </div>

                                <div class ="col">
                                    <label for = "yLevelEdit" class = "form-label"> Year Level </label>
                                    <select name = "year_level_edit" id="yLevelEdit" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
        
                                </div>

                                <div class ="col">
                                    <label for = "gEdit" class = "form-label"> Gender </label>
                                    <select name = "gender_edit" id ="gEdit" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
        
                                </div>
                            
                            </div>
                            
                            <div class="modal-footer">
            
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save changes</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
            $('button[data-bs-toggle="modal"]').click(function() {
                console.log("Edit button clicked.");
                let row = $(this).closest('tr');
                let studentId = row.find('td:eq(1)').text();
                let fNameEdit = row.find('td:eq(2)').text();
                let lNameEdit = row.find('td:eq(3)').text();
                let cCodeEdit = row.find('td:eq(4)').text();
                let yLevelEdit = row.find('td:eq(5)').text();
                let gEdit = row.find('td:eq(6)').text();
                console.log(cCodeEdit);

                splitId = studentId.split("-");
                console.log(splitId);
                let idOne = splitId[0];
                let idTwo = splitId[1];

                $('#idEditOne').val(idOne);
                $('#idEditTwo').val(idTwo);
                $('#fNameEdit').val(fNameEdit);
                $('#lNameEdit').val(lNameEdit);
                $('#cCodeEdit').val(cCodeEdit);
                $('#yLevelEdit').val(yLevelEdit);
                $('#gEdit').val(gEdit);

                $('#initIdEditOne').val(idOne);
                $('#initIdEditTwo').val(idTwo);
                // Set values of other fields similarly
            });
          </script>
<!----add Modal---->
    <div class="modal fade" id="addStudent" tabindex="-1" aria-labelledby="addStudentLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">ADD STUDENT</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <div class="modal-body">
                <form action ="{{url_for('student.insert')}}" method = "POST" enctype="multipart/form-data">
                    <div class="row d-flex justify-content-center">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <div class="col-sm-4 me-3 d-flex justify-content-center">
                            <input type="file" id = "idPic" accept="image/*" style = "display:none;" name = "studentPic">
                            <label class="img rounded-pill overflow-hidden" for="idPic" style="position: relative; border-radius: 5px; border: 3px dashed #000; cursor:pointer; width:145px; height:145px;">
                                <!-- Add a container for previews -->
                                <div id="filePreviews" style = "width:100%; height:350px;">
                                    <img id="imagePreview" src="{{url_for('static', filename='img/default_profilepic.png')}}" alt="File Preview" class="img rounded-pill" style="width:100%; height:100%; object-fit: cover; position: absolute;">
                                </div>
                                <a id="uploadCaption" style = "position:absolute; top:26%; left: 51.7%; transform: translate(-50%, -50%); font-size:80px; opacity:0.7; -ms-transform: translate(-50%, -50%);width:45%; height:50%;"> &plus; </a>
                                <button class="btn z-5" type="button" id="clearFiles" style="visibility:hidden; position: absolute; top:10%; left: 75%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); font-size: 50px; width:45%; height:50%;">&times;</button>
                            </label>
                        </div>
                        <div class="col-sm-7 mt-4">
                            <label for = "idOne" class = "form-label"> Student ID </label>
                            <div class="row row-cols-3">
                                <div class="col-5">
                                    <input name = "idOne"  type="text" id = "idOne" inputmode = "numeric" class="form-control" placeholder="YYYY" pattern = "\d*" maxlength = "4"  minlength = "4" required>
                                </div>
                                <div class="col-1 d-flex justify-content-center">
                                    <h3>-</h3>
                                </div>
                                <div class="col-5">
                                    <input name = "idTwo"  type="text" id = "idTwo" inputmode = "numeric" class="form-control" placeholder="NNNN" pattern = "\d*" maxlength = "4" minlength = "4" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <label for = "fName" class = "form-label"> First Name </label>
                            <input name = "first_name" id = "fName" type="text" class="form-control" placeholder="First name" aria-label="First name" maxlength ="40" required>
                        </div>
                        <div class="col">
                            <label for = "lName" class = "form-label"> Last Name </label>
                            <input name = "last_name" id = "lName" type="text" class="form-control" placeholder="Last name" aria-label="Last name" maxlength ="40" required>
                        </div>
                    </div>
                    <br>
                    <div class = "row">
                        <div class ="col">
                            <label for = "cCode" class = "form-label"> Course Code </label>
                            <select name = "course_code" id = "cCode" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                {%for item in courses%}
                                    <option value="{{item.values()|list|first}}">{{ item.values()|list|first }}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class ="col">
                            <label for = "yLevel" class = "form-label"> Year Level </label>
                            <select name = "year_level" id = "yLevel" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                        </div>

                        <div class ="col">
                            <label for = "fGender" class = "form-label"> Gender </label>
                            <select name = "gender" id = "fGender" class="form-select form-select-sm mb-3" aria-label="Large select example">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>

                        </div>
                    <div>
                </form>
            </div>
            <br>
            <br>
            <br>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </div>
    </div>

<script>
    let clearBtn = document.getElementById("clearFiles");
    let img = document.getElementById("imagePreview");
    let caption = document.getElementById("uploadCaption");
    $('#idOne').keyup(function() {
        if (this.value.length == this.maxLength) {
            $('#idTwo').focus();
        }
    });

    $(document).ready(function () {
        $("#clearFiles").on("click", function (e) {
            e.preventDefault();
            $("#idPic").val('');  // Clear the file input field
            clearFilePreview();
        });
    });
    
    document.getElementById("idPic").addEventListener("change", function (event) {
        console.log("im in");
        let reader = new FileReader();

        reader.onload = function(){
            clearBtn.style.visibility = 'visible';
            caption.style.visibility = 'hidden';
            img.src = reader.result;
            console.log(reader.result);
        };

        reader.readAsDataURL(event.target.files[0]);
        
    });
    
    function clearFilePreview(defaultPrev) {
        clearBtn.style.visibility = 'hidden';
        caption.style.visibility = 'visible';
        img.src = "{{url_for('static',filename='img/default_profilepic.png')}}"
    }
</script>
{%endblock%}
