
{%block table%}
<table class="table table-condensed text-center">
  <thead>
      <tr>
        {%for column in data[0]%} <th scope="col">{{column.replace("_", " ").upper()}}</th> {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for student in data %}
    <tr>
      {%for row in student.values()%}
        <td>{{ row }}</td>
      {%endfor%}
      <td>
        <button class="btn btn-warning btn-sm">Edit</button>
        <button class="btn btn-danger btn-sm" student-id="{{ student.id }}" onclick="confirmDeleteStudent(this)">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  {%endblock%}