<html>
    <head>
        <title>{{title}}</title>
        <link rel = "stylesheet" href = "/static/css/main.css" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <button id = "click"> LOAD PROFILE</button>
        <button id = "readProfile" style = "display: none"> READ PROFILE</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $('#click').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/data',
                    success: function(response){
                        localStorage.setItem('profile', JSON.stringify(response));
                        $('#readProfile').show();
                        $('#click').hide();
                    }
                });

            });

            $('#readProfile').click(function () {

                let profile = localStorage.getItem('profile');
                alert(profile);
                alert('changing to an object now');
                alert(JSON.parse(localStorage.getItem('profile')));

            })

        </script>
    </body>

</html>